
.product-image {
  background-color:inherit; 
  padding: 10px; 
  border-radius: 25px; 
  transition: transform 0.3s ease-in-out; 
  width:auto;
  height: 30vh; 
  object-fit: cover;
}

.product-container {
  padding: 20px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


.product-description {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
  text-align: justify;
}


.product-price {
  font-size: 1.1rem;
  color: #007bff;
  font-weight: bold;
}


.add-to-cart-btn {
  background-color: #007bff;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.read-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.read-more-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}